:root{
    --font: 'Satoshi', sans-serif;
    --background: #212528;
    /*--background-card: #3E444A;*/
    --background-card: rgb(39, 43, 46);
    --secondary-text: #67696B;
    --primary-text: #FFFFFF;
    --primary-color: #FE413D;
    --secondary-color: #FDBC2C;
    --update: #79C7E5;
}

.collaborator__card{
    background-color: var(--secondary-text);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1280px) {
    .collaborator__card{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.collaborator__card p{
    padding: 3rem;
    font-size: 2rem;
    color: white;
    margin: 0;
}

.buttons{
    width: 10rem;
}

.buttons svg{
    max-width: 5rem;
    cursor: pointer;
}

.delete{
    color: white;
    transition: color 0.350s ease-in-out;
}

.delete:hover{
    color: var(--primary-color);
}
